CI_ENVIRONMENT = development
app.baseURL = 'http://pagus.test/'
database.default.hostname = localhost
database.default.database = pagus
database.default.username = pagus
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
PAGUS_ADMIN_EMAIL = admin@pagus.test
PAGUS_ADMIN_PASSWORD = change-this-password
