parameters:
    level: 6
    phpVersion: 80200
    paths:
        - app
    excludePaths:
        analyse:
            - app/Views/*
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php
    scanDirectories:
        - vendor/codeigniter4/framework/system
    dynamicConstantNames:
        - ENVIRONMENT
        - CI_DEBUG
